.pak {
display: flex;
justify-content: space-around;
align-items: center;
height: 70px;
background-color:solid rgb(255, 255, 255);
padding: 0%;
margin-top: 10px%;
}

nav > ul {
    display: flex;
    gap: 10xp;
    list-style: none;
    gap: 25px;
}
img{
    width: 80px;
    height: 60px;
    /* background-color: black; */

 
}
.welcome{
    font-size:medium;
    text-align: center;
    text-shadow: 1cap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color:gray;
    border: 2px; 
    border-color: black;
}
